name: Java CI

on:
  push:
    branches:
      - "1.19-fabric"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17 ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      #- uses: actions/cache@v2
      #  with:
      #    path: ~/.gradle/caches
      #    key: ${{ runner.os }}-gradle-${{ hashFiles('**/forge_version.properties') }}
      - name: Permission
        run: chmod +x ./gradlew
      - name: Check Parameter
        uses: gradle/gradle-build-action@v2
        with:
          arguments: gCO
          cache-read-only: false
      - name: Toolchain
        uses: gradle/gradle-build-action@v2
        with:
          arguments: javaToolchains
          cache-read-only: false
      - name: Check Dependencies
        uses: gradle/gradle-build-action@v2
        with:
          arguments: dependencies
          cache-read-only: false
      - name: Precompile
        uses: gradle/gradle-build-action@v2
        with:
          arguments: compileScala
          cache-read-only: false
      - name: Data Generation
        uses: gradle/gradle-build-action@v2
        with:
          arguments: runData
          cache-read-only: false
      - name: Assemble
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assemble
          cache-read-only: false
      - name: Check artifacts
        run: ls -alF build/libs
      - name: Publish
        uses: actions/upload-artifact@v2
        with:
          path: build/libs/*
          name: ${{ github.event.repository.name }}-${{ github.run_number }}
      - name: Prepare Test dir
        run: mkdir -p build/test-results/test
      - name: Test with Gradle
        if: ${{ contains(github.event.head_commit.message, '[skip release]') || true }}
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
          cache-read-only: false
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_GAME_TEST: true
      - name: Build and Publish with Gradle
        if: ${{ !contains(github.event.head_commit.message, '[skip release]') && false }}
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build curseforge publishAllPublicationsToAzureRepositoryRepository
          cache-read-only: false
        env:
          CURSEFORGE_KEY: ${{ secrets.CURSEFORGE_KEY }}
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AZURE_USER_NAME: 'Kotori316'
          AZURE_TOKEN: ${{ secrets.AZURE_TOKEN }}
          RUN_GAME_TEST: true
      - name: Upload failed test report
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          path: build/test-results/test/*.xml
          name: Test-Report-${{ matrix.java }}-${{ github.run_number }}