name: Java CI

on:
  push:
    branches: 
      - 1.14.3
      - 1.15.1

jobs:
  build-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle15-${{ hashFiles('**/forge_version.properties') }}
    - name: Precompile
      run: chmod +x ./gradlew && ./gradlew compileScala --continue
    - name: Build with Gradle
      run: |
        chmod +x ./gradlew
        ./gradlew test build --continue
      env:
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
