name: PullRequest Test

on:
  pull_request:
    branches:
      - 1.16

jobs:
  compile-check:
    runs-on: ubuntu-latest
    container:
      image: docker.pkg.github.com/kotori316/fictional-meme/fictional-meme:1.16.5
      credentials:
        username: kotori316
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11 ]
    name: Build Check for Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Check-Parameter
        run: chmod +x ./gradlew && ./gradlew checkMethod jT --no-daemon
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
      - name: Test-JUnit
        run: chmod +x ./gradlew && ./gradlew test --no-daemon
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
